body{
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 15px;
  background-color: #ffe8f2;
  color:#792c2f;
}

button{
  background-color: #ff9fa3;
  font-size: 20px;
  color:#6f0f13;
  margin: 20px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
  background-color: #fbb4b7;
}

.container{
  display: inline-block;
}

.name-label{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.name-label:hover{
  cursor: pointer;
  background-color: #fbd4e5;
}

.length{
  font-size: 35px;
}

.increment:hover{
  cursor: pointer;
  background-color: #fbd4e5;
}

#settings{
  display: grid;
  grid-template-columns: 150px 120px 120px;
  justify-content: center;
  margin-top: 20px;
}

#timer{
  margin-top: 30px;
}

#timer-label{
  font-size: 35px;
  font-weight: bold;
}

#time-left{
  font-size:70px;
  padding: 10px;
}
